<link rel="import" href="../../polymer/polymer.html">

<!--
Displays a list of queries in your realm that can be loaded into the bridgeit-query-editor component.

##### Example

	<bridgeit-query-list for="editor"></bridgeit-query-list>

@element bridgeit-query-list
@blurb Displays a list of queries by listening for the queriesRetrieved event of the bridgeit-query-editor component.
@status alpha
@homepage http://bridgeit.github.io/bridgeit-web-components
-->
<polymer-element name="bridgeit-query-list" attributes="for tblstyle">
    <template>
        <table style="{{tblstyle | styleObject}}">
            <tbody>
            <template repeat="{{ query in allQueries }}">
                <tr>
                    <td>{{query._id}}</td>
                    <td>
                        <button on-click="{{_viewQuery}}">View</button>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </template>
    <script src="./bridgeit-query-list.js"></script>
</polymer-element>
