<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../bridgeit-io-import/bridgeit-io-import.html">

<!--
Displays a list of queries retrieved by the `bridgeit-query-editor` component by listening for the `queriesRetrieved` event.

Example:

    <bridgeit-query-list for="editor"></bridgeit-query-list>

@demo demo.html
-->
<dom-module id="bridgeit-query-list">
    <template>
        <style type="text/css">
            table {
                margin:0 auto;
                @apply(--query-list-table);
            }
            tbody {
                @apply(--query-list-tbody);
            }
            tr {
                @apply(--query-list-tr);
            }
            td {
                @apply(--query-list-td);
            }
            button {
                @apply(--query-list-button);
            }
        </style>
        <table>
            <tbody>
                <template is="dom-repeat" items="{{_allQueries}}">
                    <tr>
                        <td>{{item._id}}</td>
                        <td>
                            <button on-click="_viewQuery">View</button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>
</dom-module>

<script src="./bridgeit-query-list.js"></script>
