<link rel="import" href="../../polymer/polymer.html">

<!--
Displays a query editor that can build queries for data stored by the BridgeIt Services. Requires jQuery.

Example:

		<bridgeit-query-editor accesstoken="xxx"
													 realm="myRealm"
													 account="myAccount"
													 queryurltarget="queryURL">
		</bridgeit-query-editor>

@demo demo.html
-->
<dom-module id="bridgeit-event-monitor">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <template>
    </template>
</dom-module>

<script src="./bridgeit-event-monitor.js"></script>