.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.legend {
    padding: 5px;
    font: 10px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}

.clickedCircle {
}

.emBox {
    padding: 10px;
    border: 2px solid #555555;
    background: -webkit-linear-gradient(#DDDDDD, transparent);
    background: -o-linear-gradient(#DDDDDD, transparent);
    background: -moz-linear-gradient(#DDDDDD, transparent);
    background: linear-gradient(#DDDDDD, transparent);
}

.emBox svg {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.detailsBox table {
    padding: 10px;
    border: 1px dotted black;
    background-color: white;
    min-width: 50%;
}

.detailsBox thead {
    font-weight: bold;
}

.detailsBox td:first-child {
    width: 30%;
}

