<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

</head>
<body>

	<h1>BridgeIt Web Components</h1>
	<hr>

        <ul>
        <li><a href="./bridgeit-action-editor/">BridgeIt Action Editor</a></li>
        <li><a href="./bridgeit-event-monitor/">BridgeIt Event Monitor</a></li>
        <li><a href="./bridgeit-location-simulator/">BridgeIt Location Simulator</a></li>
        <li><a href="./bridgeit-locations/">BridgeIt Locations</a></li>
        <li><a href="./bridgeit-log-viewer/">BridgeIt Log Viewer</a></li>
        <li><a href="./bridgeit-query-editor/">BridgeIt Query Editor</a></li>
        </ul>

</body>
</html>
