<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../common/ace-import.html">
<link rel="import" href="../voyent-io-import/voyent-io-import.html">

<!--
Displays a query editor based on jQuery-QueryBuilder that can build queries for data stored by the Voyent Services.
You can access the Query Editor programmatically using the editor property (< voyent-query-editor >.editor).
<a target="_blank" href="http://mistic100.github.io/jQuery-QueryBuilder/">More Info</a>

Example:

		<voyent-query-editor realm="myRealm"
                           account="myAccount"
                           queryurltarget="queryURL">
		</voyent-query-editor>

@demo demo.html
-->
<dom-module id="voyent-query-editor">
    <template>
        <link type="text/css" rel="stylesheet" href="../../jQuery-QueryBuilder/dist/css/query-builder.default.min.css">
        <link type="text/css" rel="stylesheet" href="./voyent-query-editor.min.css">
        <link type="text/css" rel="stylesheet" href="../../components-font-awesome/css/font-awesome.min.css">
        <div id$="{{_uniqueId}}"></div>
    </template>
</dom-module>

<script src="./voyent-query-editor.js"></script>