<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../voyent-io-import/voyent-io-import.html">
<link rel="import" href="../../paper-button/paper-button.html">
<link rel="import" href="../../paper-item/paper-item.html">
<link rel="import" href="../../paper-item/paper-item-body.html">
<link rel="import" href="../../paper-listbox/paper-listbox.html">
<link rel="import" href="../../paper-dropdown-menu/paper-dropdown-menu.html">

<!--
Display a list of previously created recognizers.

Example:

    <voyent-recognizer-editor account="myAccount"
                            realm="myRealm">
        <voyent-recognizer-list></voyent-recognizer-list>
    </voyent-recognizer-editor>

@demo demo.html
-->
<dom-module id="voyent-recognizer-list">
    <template>
        <style type="text/css">
            .tableWrapper {
                @apply(--recognizer-list-wrapper);
            }
            table {
                margin:0 auto;
                @apply(--recognizer-list-table);
            }
            tbody {
                @apply(--recognizer-list-tbody);
            }
            tr {
                @apply(--recognizer-list-tr);
            }
            td {
                @apply(--recognizer-list-td);
            }
            button {
                cursor:pointer;
                @apply(--recognizer-list-button);
            }
            .noRecognizerTxt {
                text-align: center;
            }
        </style>
        <div class="tableWrapper">
            <template is="dom-if" if="{{_allRecognizers}}">
                <paper-dropdown-menu label="View Saved Recognizers">
                    <paper-listbox class="dropdown-content" selected="{{selectedIndex}}">
                        <template is="dom-repeat" strip-whitespace items="[[_allRecognizers]]" as="recognizer">
                            <paper-item>[[recognizer._id]]</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>
            </template>
            <template is="dom-if" if="{{!_allRecognizers}}">
                <div class="noRecognizerTxt">Saved Recognizers: No existing recognizers found.</div>
            </template>
        </div>
    </template>
</dom-module>

<script src="voyent-recognizer-list.js"></script>
