<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../bridgeit-io-import/bridgeit-io-import.html">

<!--
Displays a simple code editor input based on the Ace/Cloud9 Editor. You can access the ACE Editor programmatically using the `editor` property (< bridgeit-code-editor >.editor). More info available at: https://ace.c9.io/.

Example:

    <bridgeit-code-editor>
    </bridgeit-code-editor>

@demo demo.html
-->
<dom-module id="bridgeit-code-editor">
    <template>
        <style type="text/css">
            #editor {
                width:100%;
                min-height:200px;
                @apply(--code-editor);
            }
            #resizable {
                cursor: nw-resize !important;
                position: absolute;
                right: 0;
                bottom: 0;
                height: 12px;
                width: 12px;
                background-image: url("resize_handle.gif");
                background-size: 12px 12px;
            }
        </style>
        <div id="editor"></div>
        <div id="resizable" on-mousedown="_resizeEditor"></div>
    </template>
</dom-module>

<script src="bridgeit-code-editor.js"></script>