<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Voyent Web Components Demo</title>

    <!-- Load the webcomponents polyfill -->
    <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script>

    <!-- Load voyent motion simulator component -->
    <link rel="import" href="voyent-location-editor.html">
    <link rel="import" href="../voyent-message/voyent-message.html">

    <!-- Demo specific CSS -->
    <link rel="stylesheet" href="../common/demo.css"/>

    <!-- Define custom styling for the component (optional) -->
    <style is="custom-style">

    </style>

</head>
<body unresolved>

<h1>Voyent Location Editor Component Demo</h1>
<h3>Login with your Voyent Account Information</h3>
<hr/>
<div class="container" style="width:100%">
    <form>
        <div>
            <label>Account:
                <input id="account" type="text"/>
            </label>
        </div>
        <div>
            <label>Realm:
                <input id="realm" type="text"/>
            </label>
        </div>
        <div>
            <label>Username:
                <input id="username" type="text"/>
            </label>
        </div>
        <div>
            <label>Password:
                <input id="password" type="password"/>
            </label>
        </div>
        <a onclick="login()">Login</a>

        <div class="settings">
            <div>
                <label>
                    <a onclick="document.getElementById('voyentMap').refreshMap();">Refresh Map</a>
                </label>
            </div>
        </div>
    </form>

    <voyent-message></voyent-message>
    
    <!-- Declare the element by its tag. -->
    <div id="mapContainer" style="height:500px; width:100%;">
    <voyent-location-editor id="voyentMap">
    </voyent-location-editor>
        </div>

</div>

<script type="text/javascript">
    function login(event){
        var account = document.getElementById('account').value;
        var realm = document.getElementById('realm').value;
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;

        voyent.io.auth.connect({
            account: account,
            realm: realm,
            username: username,
            password: password,
            host:'dev.voyent.cloud'
        }).then(function(){
            setCredentialsOnComponent();
            document.getElementById('voyentMap').refreshMap();
        })['catch'](function(){
            //try to login as admin
            voyent.io.auth.connect({
                account: account,
                realm: 'admin',
                username: username,
                password: password,
                host:'dev.voyent.cloud'
            }).then(function(){
                setCredentialsOnComponent();
                document.getElementById('voyentMap').setAttribute('realm', realm);
                document.getElementById('voyentMap').refreshMap();
            })
        });
    }
    function setCredentialsOnComponent(){
        var elem = document.getElementById('voyentMap');

        var account = voyent.io.auth.getLastKnownAccount();
        if( account ){
            elem.setAttribute('account', account);
            document.getElementById('account').value = account;
        }

        var realm = voyent.io.auth.getLastKnownRealm();
        if( realm ){
            elem.setAttribute('realm', realm);
            document.getElementById('realm').value = realm;
        }

        var token = voyent.io.auth.getLastAccessToken();
        if( token ){
            elem.setAttribute('accesstoken', token);
            document.getElementById('username').value = voyent.io.auth.getLastKnownUsername();
        }
    }
    window.addEventListener('WebComponentsReady', function() {
        // imports are loaded and elements have been registered
        console.log('WebComponentsReady');

        //initialize known credentials
        setCredentialsOnComponent();
    });
</script>
</body>
</html>