<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../voyent-io-import/voyent-io-import.html">

<!--
Displays an event monitor used to graph historical data from the Voyent services

This uses D3 (http://d3js.org/) and an underlying SVG to achieve the graphing

@demo demo.html
-->
<dom-module id="voyent-event-monitor">
    <script src="../../d3/d3.min.js" charset="utf-8"></script>
    <template>
        <link type="text/css" rel="stylesheet" href="voyent-event-monitor.css">
        
        <div id="{{id}}div">
            <label style="float: left;">[[customTitle]]</label>
            <!-- SVG will be appended here via DOM manipulation in the JS -->
        
            <div id="{{detailsid}}.{{id}}" style="display: none;" class="detailsBox">
                <table>
                <thead><tr><td colspan="2">Clicked Event Details</td></tr></thead>
                <tr>
                <td><label>Time:</label></td>
                <td>[[clickedData.time]]</td>
                </tr>
                <tr>
                <td><label>Account:</label></td>
                <td>[[clickedData.account]]</td>
                </tr>
                <tr>
                <td><label>Realm:</label></td>
                <td>[[clickedData.realm]]</td>
                </tr>
                <tr>
                <td><label>Service:</label></td>
                <td>[[clickedData.service]]</td>
                </tr>
                <tr>
                <td><label>Event:</label></td>
                <td>[[clickedData.event]]</td>
                </tr>
                <tr>
                <td><label>Type:</label></td>
                <td>[[clickedData.type]]</td>
                </tr>
                <tr>
                <td><label>Username:</label></td>
                <td>[[clickedData.username]]</td>
                </tr>
                <tr>
                <td><label>Data:</label></td>
                <td><pre>[[clickedDataFormatted]]</pre></td>
                </tr>
                <tr>
                <td><label>ID:</label></td>
                <td>[[clickedData._id]]</td>
                </tr>
                <tfoot><tr><td colspan="2">
                <button type="button" on-click="hideDetails">Close Details</button>
                </td></tr></tfoot>
                </table>
            </div>
        </div>
    </template>
</dom-module>

<script src="voyent-event-monitor.js"></script>
