<link rel="import" href="../../polymer/polymer.html">

<!--
Show the locations of BridgeIt users in your realm.

##### Example

	<bridgeit-user-locations></bridgeit-user-locations>

@element bridgeit-user-locations
@blurb Show a Google map of user locations.
@status alpha
@homepage http://bridgeit.github.io/bridgeit-web-components
-->
<polymer-element name="bridgeit-user-locations" 
	attributes="accessToken account realm showUserLocations showRegions showPOIs height">
  <template>
	<div id="container">
	  <div id="map">
	  </div>
	</div>
  </template>
  <script src="bridgeit-locations.js"></script>
</polymer-element>
